body{
   background-color: #4834DF;
    height: 600px;
}

.container{
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    font-size: 3em;
}

.out{
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #fff;
    color: #f63;
}

.myBtn{
    padding: 20px 20px;
    font-size: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.pass{
    width: 420px;
    margin-top: -60px;
    float: left;
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin-left: 0;
    padding: 20px;
    background-color: #f63;
    border-radius: 10px;
    
}

.in{
    width: 80px;
     margin-top: -60px;
    padding-top: 12px;
    float: right;
    text-align: center;
    background-color: #fff;
    color: #f63;
    border-radius: 10px;
}




























